*.pyc
*~
gips/settings.py
epydoc
\#*
.\#*
.eggs
build
dist
pytest.ini
.cache
.coverage
.idea
*venv
aod.composites.tar.gz
gips_creds.sh.enc
ortho
sixs
docker/acolite_py_linux/
# vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
