[Unit]
Description=GIPS datahandler RQ Worker %I

[Service]

# Uncomment the following two lines, making sure to change the absolute paths
# to where you have installed GIPS on your system.
ExecStart=$RQ_COMMAND worker $QUEUE > /dev/null 2>&1
PIDFile=/tmp/gips_rqworker.%I.pid
Type=simple
Restart=always
User=$AS_USER

[Install]
WantedBy=multi-user.target
